# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.eslintcache
.history

wrangler.json
wrangler.jsonc
wrangler.template.jsonc
wrangler.toml

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Type files
nuxt.d.ts


# Local host folder
.netlify
.vercel
.wrangler

# Local secrets
.secrets
.secret

keukensenmeer.code-workspace


# Auto generated data files
data/projects/index.ts