@import 'tailwindcss';
@import '@nuxt/ui';

@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-debug-screens';

@theme {
	/* Fonts */
	--font-sans: Objektiv Mk2, sans-serif;
	--font-serif: 'Playfair Display', serif;
	--font-hand: NorthwellClean, serif;

	--ui-header-height: --spacing(18);
	--ui-bg: var(--color-secondary-500);
	--ui-bg-elevated: var(--color-secondary-500);


	--ui-section-padding: --spacing(24);

	--color-white: #ffffff;
	--color-black: #09121b;

	/* Primary Palette */
	--color-primary-25: #fdf9f1;
	--color-primary-50: #f6efdd;
	--color-primary-100: #eddfbb;
	--color-primary-200: #e4cf99;
	--color-primary-300: #dbbf77;
	--color-primary-400: #d2af55;
	--color-primary-500: #bd9d4c;
	--color-primary-600: #a88c44;
	--color-primary-700: #937b3b;
	--color-primary-800: #7e6933;
	--color-primary-900: #655324;
	--color-primary-950: #4f3d1d;

	/* Secondary Palette */
	--color-secondary-25: #e3eef0;
	--color-secondary-50: #bfd2d7;
	--color-secondary-100: #94abb1;
	--color-secondary-200: #6a828c;
	--color-secondary-300: #415c67;
	--color-secondary-400: #173442;
	--color-secondary-500: #153745;
	--color-secondary-600: #14323f;
	--color-secondary-700: #122d39;
	--color-secondary-800: #102833;
	--color-secondary-900: #0e2430;
	--color-secondary-950: #0c1f29;

	/* Gray Palette */
	--color-gray-25: #fcfcfd;
	--color-gray-50: #f9f9fa;
	--color-gray-100: #ecefef;
	--color-gray-200: #e4e7e7;
	--color-gray-300: #dcdfe1;
	--color-gray-400: #c9cfd1;
	--color-gray-500: #a3a9ad;
	--color-gray-600: #7c8488;
	--color-gray-700: #565d64;
	--color-gray-800: #303840;
	--color-gray-900: #262c31;
	--color-gray-950: #1d2226;

	--color-red-50: oklch(97.1% 0.01 17.4);
	--color-red-100: oklch(93.6% 0.03 17.7);
	--color-red-200: oklch(88.5% 0.06 18.3);
	--color-red-300: oklch(80.8% 0.1 19.6);
	--color-red-400: oklch(71.1% 0.17 22.2);
	--color-red-500: oklch(63.7% 0.21 25.3);
	--color-red-600: oklch(57.7% 0.22 27.3);
	--color-red-700: oklch(50.5% 0.19 27.5);
	--color-red-800: oklch(44.4% 0.16 26.9);
	--color-red-900: oklch(39.6% 0.13 25.7);
	--color-red-950: oklch(39.6% 0.13 25.7);

	--color-green-50: oklch(97.9% 0.02 166);
	--color-green-100: oklch(95% 0.05 163);
	--color-green-200: oklch(90.5% 0.09 164);
	--color-green-300: oklch(84.5% 0.13 165);
	--color-green-400: oklch(77.3% 0.15 163);
	--color-green-500: oklch(69.6% 0.15 162);
	--color-green-600: oklch(59.6% 0.13 163);
	--color-green-700: oklch(50.8% 0.1 166);
	--color-green-800: oklch(43.2% 0.09 167);
	--color-green-900: oklch(37.8% 0.07 169);
	--color-green-950: oklch(37.8% 0.07 169);

	--color-orange-50: oklch(98.7% 0.02 95.3);
	--color-orange-100: oklch(96.2% 0.06 95.6);
	--color-orange-200: oklch(92.4% 0.12 95.7);
	--color-orange-300: oklch(87.9% 0.15 91.6);
	--color-orange-400: oklch(83.7% 0.16 84.4);
	--color-orange-500: oklch(76.9% 0.16 70.1);
	--color-orange-600: oklch(66.6% 0.16 58.3);
	--color-orange-700: oklch(55.5% 0.15 49);
	--color-orange-800: oklch(47.3% 0.12 46.2);
	--color-orange-900: oklch(41.4% 0.11 45.9);
	--color-orange-950: oklch(41.4% 0.11 45.9);

	--color-blue-50: oklch(97% 0.01 255);
	--color-blue-100: oklch(93.2% 0.03 256);
	--color-blue-200: oklch(88.2% 0.06 254);
	--color-blue-300: oklch(80.9% 0.1 252);
	--color-blue-400: oklch(71.4% 0.14 255);
	--color-blue-500: oklch(62.3% 0.19 260);
	--color-blue-600: oklch(54.6% 0.22 263);
	--color-blue-700: oklch(48.8% 0.22 264);
	--color-blue-800: oklch(42.4% 0.18 266);
	--color-blue-900: oklch(37.9% 0.14 266);
	--color-blue-950: oklch(37.9% 0.14 266);
}

@base {
	.dark {
		--ui-bg: var(--color-secondary-500);
		--ui-bg-elevated: var(--color-secondary-500);
	}
}

@media (max-width: 1023px) {
	:root {
		--ui-header-height: --spacing(16);
	}
}

/* When updating, please make sure that the transition duration in mobile-menu.ts matches the value below. */
:root {
	--menu-transition-duration: 300ms;
	scroll-behavior: smooth;
}

/* default state */
.content {
	transform: translateX(0);
	transition: transform var(--menu-transition-duration) ease-in-out;
	will-change: transform;
}

/* when menu opens -> slide out left */
.content.menu-open {
	transform: translateX(-110vw);
}

/* 
	When closing (either through toggle or route change), disable the transition.
	Either it will be animated (toggle) or the page transition will handle it (route change). 
*/
.content {
	&.menu-closing,
	&.route-change {
		transition: none;
	}
}

/* when closing -> slide in from right */
.content.menu-closing {
	animation: content-in-from-right var(--menu-transition-duration) ease-in-out both;
	animation-delay: var(--menu-transition-duration);
}

@keyframes content-in-from-right {
	from {
		transform: translateX(110vw);
	}
	to {
		transform: translateX(0);
	}
}

.page-enter-active,
.page-leave-active {
	transition-property: opacity, filter;
	transition-duration: 300ms;
}
.page-enter-from,
.page-leave-to {
	opacity: 0;
	filter: blur(0.1rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply leading-relaxed;
}

p {
	@apply leading-loose;
}

::selection {
	@apply bg-primary text-white;
}
