# Deploys new releases of the Nuxt application to NuxtHub
name: Deploy to NuxtHub

on:
  push:
    branches:
      - main

permissions:
  id-token: write # Required for OIDC authentication
  contents: read # Required for checkout
  deployments: write

jobs:
  deploy:
    uses: ./.github/workflows/nuxthub.yml
    with:
      environment: production
    secrets: inherit # Important for environment variables to be passed to the workflow
