name: Deploy Worker
on:
    workflow_call:
        inputs:
            environment:
                required: true
                type: string
        outputs:
            deployment-url:
                description: "The deployment URL"
                value: ${{ jobs.deploy.outputs.deployment-url }}
jobs:
    deploy:
        name: "Deploy to Cloudflare Worker"
        runs-on: ubuntu-latest
        timeout-minutes: 60
        environment:
            name: ${{ inputs.environment }}
        permissions:
            contents: read
            id-token: write
            deployments: write
        outputs:
            deployment-url: ${{ steps.deploy.outputs.deployment-url }}
            deployment-id: ${{ steps.create_deploy.outputs.deployment_id }}
        steps:
            - uses: actions/checkout@v5
            - name: Setup Node & dependencies
              uses: ./.github/actions/setup

            - name: Create GitHub Deployment
              id: create_deploy
              uses: chrnorm/deployment-action@v2
              with:
                  token: ${{ github.token }}
                  environment: ${{ inputs.environment }}
                  description: "Deploying Cloudflare Worker"
                  transient-environment: false
                  auto-merge: false

            # Test read all vars and secrets and dump to .env file
            # to see if Nuxt build can read them correctly
            - name: Export environment variables
              id: export_env
              run: |
                  echo "Creating .env for build"

                  # Dump vars into .env
                  echo '${{ toJson(vars) }}' | jq -r 'to_entries[] | "\(.key)=\(.value)"' > .env

                  # Dump secrets into .env
                  echo '${{ toJson(secrets) }}' \
                  | jq -r 'to_entries[] | "\(.key)=\(.value)"' >> .env

                  echo "Generated .env:"
                  cat .env

            - name: Build Nuxt Application
              run: pnpm build
            #   env:
            #       MODE: ${{ vars.MODE }}
            #       APP_URL: ${{ vars.APP_URL }}
            #       BLOCK_NON_SEO_BOTS: ${{ vars.BLOCK_NON_SEO_BOTS }}
            #       BLOCK_AI_BOTS: ${{ vars.BLOCK_AI_BOTS }}
            #       API_TOKEN: ${{ secrets.API_TOKEN }}
            #       NUXT_HUB_PROJECT_SECRET_KEY: ${{ secrets.NUXT_HUB_PROJECT_SECRET_KEY }}
            #       CLOUDINARY_CLOUDNAME: ${{ secrets.CLOUDINARY_CLOUDNAME }}
            #       NUXT_HUB_CLOUDFLARE_CACHE_NAMESPACE_ID: ${{ secrets.NUXT_HUB_CLOUDFLARE_CACHE_NAMESPACE_ID }}

            - name: Deploy Worker
              id: deploy
              uses: cloudflare/wrangler-action@v3
              with:
                  apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
                  accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
                  command: deploy
                  packageManager: pnpm
                  workingDirectory: ./output/server

            - name: Mark Deployment as Successful
              if: ${{ success() }}
              uses: chrnorm/deployment-status@v2
              with:
                  token: ${{ github.token }}
                  deployment-id: ${{ steps.create_deploy.outputs.deployment_id }}
                  state: success
                  environment-url: ${{ steps.deploy.outputs.deployment-url }}

            - name: Mark Deployment as Failed
              if: ${{ failure() }}
              uses: chrnorm/deployment-status@v2
              with:
                  token: ${{ github.token }}
                  deployment-id: ${{ steps.create_deploy.outputs.deployment_id }}
                  state: failure

            - name: Invalidate Cache
              if: ${{ steps.deploy.outcome == 'success' }}
              run: |
                  echo "API_TOKEN is set: $([[ -n \"$API_TOKEN\" ]] && echo \"true\" || echo \"false\")"
                  echo "APP_URL: $APP_URL"
                  echo "API_TOKEN is set: $([[ -n \"$API_TOKEN\" ]] && echo \"true\" || echo \"false\")"

                  RESPONSE=$(curl -s -o response.json -w "%{http_code}" -X POST $APP_URL/api/_cache/invalidate \
                      -H "Content-Type: application/json" \
                      -H "Authorization: Bearer $API_TOKEN")

                  echo "HTTP Status Code: $RESPONSE"
                  echo "Response Body:"
                  cat response.json
              env:
                  API_TOKEN: ${{ secrets.API_TOKEN }}
                  APP_URL: ${{ steps.deploy.outputs.deployment-url }}
